body {
  font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 34px;
    color: #777777;
    background: url("../images/concrete_seamless.png");
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    padding-top: 150px;
    border: 1px solid aqua;
    height: 1000px;
  
  }

.titleId  {
  text-align: center;
  border-bottom: 1px solid aqua;
} 

  .container {
    width: 80%; 
    margin: 0 auto;
    clear: both;
    background-color: rgb(236, 218, 173);
    margin-top: 40px;
    padding: 30px 30px 20px 30px;
    border: 1px solid aqua;
    border-radius: .25em;
    font-size: 14px;
  }

section{
  padding:20px;
}